
body{
background-color: bisque;

}

h1{
    text-align: center;
    color: rgb(58, 15, 68);
    text-shadow: 2px 4px goldenrod;
    font-size: 55px;
}
h2{
    text-align: center;
    color:  rgb(68, 15, 65);
    text-shadow: 2px 4px goldenrod;
    font-size: 35px;
}

.tableBody{
    background-color: beige;
    font-size: 20px;
}

table, th, td{
    border: 2px solid rgb(68, 15, 65);
  }
  table {
    width: 100%;
  }

.tableInputs{
border: rgb(68, 15, 65) 2px solid ;
 background-color:beige;
width: auto;
font-size: 18px ;

}
.submit{
background-color: goldenrod;
}

