
body{
background-color: #bbbdf7;
border: rgb(236, 18, 18);
}

h1{
    text-align: center;
    color: rgb(58, 15, 68);
    text-shadow: 2px 4px #dd47f4;
    font-size: 55px;
}
h2{
    text-align: center;
    color:  rgb(68, 15, 65);
    text-shadow: 2px 4px #ec53e4;
    font-size: 35px;
}

.tableBody{
    background-color: rgb(220, 195, 233);
    font-size: 20px;
}

table, th, td{
    border: 2px solid white;
  }
  table {
    width: 100%;
  }

.tableInputs{
border:rgb(202, 150, 239) 2px solid ;
 background-color:rgb(229, 191, 238);
width: auto;

}

